@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  font-family: 'Red Hat Display',
  sans-serif;
  min-height: 100vh;
  background-color: hsl(225, 100%, 94%) ;
  background-size: contain;
  position: relative;
  font-size: 16px;
  }

 

.container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  max-width: 450px;
  background: white;
 border-radius: 20px;
 overflow: hidden;
} 

.maintext{
  padding: 7%;
  text-align: center;
}
.boxheading {
 color :hsl(223, 47%, 23%);
 font-weight: 900;
 font-size: 32px;
 margin-bottom: 20px;
}

.maintext p.subtitle {
  color: #8a8a8a ;
  margin-bottom: 25px;

}
.pricebox{
  border-radius: 12px;
  background-color: hsl(225, 100%, 98%);
  display: flex;
  padding: 25px;
}

.musiclogo{

  display: flex;
  align-items: center;
  text-align: left;
}

.musiclogo div{
margin-left: 20px;

}

.musiclogo div h3 {
  font-weight: 900 ;
  font-size: 16px ;
  color: hsl(223, 47%, 23%);
  margin-bottom: 5px;
   
}

.musiclogo div p {
  
  font-size: 14px ;
  color: #8a8a8a;
} 

.musiclogo a {
  font-weight: 700;
  font-size: 14px;
  color: hsl(245, 75%, 52%);
  position: absolute;
  right: 12%;
  bottom: 30%;
 
}
.musiclogo a:hover {
text-decoration: none;
color: hsl(224, 23%, 55%);

}

a.payment {
  display: block;
  text-decoration: none;
  color: white;
  background-color: hsl(245, 75%, 52%);
  padding: 15px 0 ;
border-radius: 12px;
margin: 30px 0;

} 

a.payment:hover {
background-color: hsl(224, 23%, 55%);
transition: color .3s ease ;
}


a.cancel {
  font-weight: 900 ;
  color: hsl(224, 23%, 55%);
  text-decoration: none;
  padding-bottom: 12 px;
  
}

a.cancel:hover {
  font-weight: 900;
  text-decoration: none;
  color: hsl(223, 47%, 23%) ;
}